<!-- Make sure that variables are the same as the parameters passed by the
render_template() from calling function. i.e. project.py editMenuItem returns
render_template('editmenuitem.html', restaurant_id = restaurant_id, 
menu_id = menu_id, item=editedItem) these parameters match with below 
restaurant_id, menu_it, and item.name -->
<html>
	<body>
		<h1>Edit Menu Item</h1>
		<form action= "{{ url_for('editMenuItem', restaurant_id = restaurant_id,
		items_id = item.id) }}" method = 'POST'>
				<p>Name:</p>
				<input type = 'text' size='30' placeholder='{{item.name}}' name='name'>
				<p>Description:</p>
				<input type = 'text' size='30' placeholder='{{item.description}}' name='description'>
				<p>Price:</p>
				<input type = 'text' size='30' placeholder='{{item.price}}' name='price'>
				<p>Course:</p>
				<input type = 'text' size='30' placeholder='{{item.course}}' name='course'>
				<input type='submit' name='submit_button' value='Edit'>
				<input type='submit' name='submit_button' value='Cancel'>
		</form>
	</body>
</html>