<!-- Make sure that variables are the same as the parameters passed by the
render_template() from calling function. i.e. project.py editMenuItem returns
render_template('editmenuitem.html', restaurant_id = restaurant_id, 
menu_id = menu_id, item=editedItem) these parameters match with below 
restaurant_id, menu_it, and item.name -->
<html>
	<body>
		<h1>Edit Menu Item</h1>
		
		<form action= "{{ url_for('editMenuItem', restaurant_id = restaurant_id,
		items_id = item.id) }}" method = 'POST'>
				<p>Name:</p>
				<input type = 'text' size='30' placeholder='{{item.name}}' name='name'>
				<p>Description:</p>
				<input type = 'text' size='30' placeholder='{{item.description}}' name='description'>
				<p>Price:</p>
				<input type = 'text' size='30' placeholder='{{item.price}}' name='price'>
				<div>    
					<p>Course:</p>
					<input type="radio" name='course' id='appetizer' value='Appetizer'>
					<label for="appetizer">Appetizer</label>
					<br>
					<input type="radio" name='course' id='entree' value='Entree'>
					<label for="entree">Entree</label>  
					<br>
					<input type="radio" name='course' id='dessert' value='Dessert'>
					<label for="dessert">Dessert</label>
					<br>
					<input type="radio" name='course' id='beverage' value='Beverage'>
					<label for="beverage">Beverage</label>  
					</div>
					
				<input type='submit' name='submit_button' value='Edit'>
				<input type='submit' name='submit_button' value='Cancel'>
		</form>
	</body>
</html>