<html>
	<body>
		<h1>Menu for {{restaurant.name}}</h1>
		<a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Item</a>
			{% if not items %}
				<label>You currently have no menu items</label>
			{% endif %}

			{% for i in items %}
				<dl>
					<dt>{{i.name}}</dt>					
					<dt>{{i.description}}</dt>
					<dt>{{i.price}}</dt>
					<a href = '{{url_for('editMenuItem', restaurant_id = restaurant.id, items_id = i.id) }}'>Edit</a>
					<a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, items_id = i.id ) }}'>Delete</a>
				</dl>
			{% endfor %}
	</body>
</html>