<html>
	<body>
		<h1>Menu for {{restaurant.name}}</h1>
		<div class = 'flash'>
			<!--MESSAGE FLASHING EXAMPLE -->
			{% with messages = get_flashed_messages() %}
			{% if messages %}

			<ul>
			{% for message in messages %}
				<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
		<a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Item</a>
			{% if not items %}
				<label>You currently have no menu items</label>
			{% endif %}

			{% for i in items %}
				<dl>
					<dt>{{i.name}}</dt>					
					<dt>{{i.description}}</dt>
					<dt>{{i.price}}</dt>
					<a href = '{{url_for('editMenuItem', restaurant_id = restaurant.id, items_id = i.id) }}'>Edit</a>
					<a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, items_id = i.id ) }}'>Delete</a>
				</dl>
			{% endfor %}
	</body>
</html>